atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/blob-store
atom.symlink/recovery

/code-portable-data.symlink/user-data/*
!/code-portable-data.symlink/user-data/User
/code-portable-data.symlink/user-data/User/workspaceStorage
!/code-portable-data.symlink/user-data/Preferences
!/code-portable-data.symlink/user-data/storage.json
!/code-portable-data.symlink/user-data/rapid_render.json

git/gitconfig.local.symlink
